* {
    padding: 0;
    margin: 0;
}

body, html {
    width: 100%;
    height: 100%;
    font-family: 'Montserrat';
    position:fixed;
    overflow:hidden;
}


.main_background {
    min-width: 100%;
    min-height: 100%;
    position: relative;
    background-color: #222222;
}

.main_background .img_back {
    position: absolute;
    top: 24%;
    right: 31%;
    width: 90%;
    height: 90%;
}

.registration {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.registration input {
    font-size: 16px;
    font-family: 'Montserrat';
    font-weight: 500;
    padding: 15px 10px;
    width: 100%;
    border: 0;
    border-radius: 5px;
    background-color: #373737;
    color: #ADA8A5;
}

.registration button {
    font-size: 18px;
    font-weight: bold;
    font-family: 'Montserrat';
    margin-top: 55px;
    margin-bottom: 20px;
    padding: 10px 15px;
    width: 108%;
    border: 0;
    border-radius: 5px;
    background-color: #FA5D0A;
    color: #FFFFFF;
}

.registration button:hover {
    background-color: #FF8D50;
}


.under_button {
    padding-left: 15%;
    color: #FFFFFF;
    font-size: 14px;
    font-family: 'Montserrat';
    font-weight: 500;
}

.link_under_button {
    text-decoration: underline;
    font-weight: bold;
    color: #FA5D0A;
}

.link_under_button:hover {
    color: #FF8D50;
}

.forget_password {
    color: #FA5D0A;
    padding-left: 50%;
    padding-top: 3%;
    padding-bottom: 10%;
}

.img_logo {
    position: relative;
    bottom: 85px;
    left: 43px;
}

.block {
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    /*align-items: flex-start;*/
    /*flex-wrap: nowrap;*/
    min-width: 100%;
    min-height: 100%;
    flex-wrap: wrap;
    margin: 0 auto;
}


.person_info {
    width: 25%;
    height: 100vh;
    /*align-self: flex-start;*/
    position: relative;
    background-color: red;
    flex-wrap: wrap;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


.photo {
    width: 100%;
    height: 50vh;
    background-color: #FA5D0A;
    position: relative;
}

.photo img {
    position: absolute;
    height: 100%;
    width: 100%;
    object-fit: cover;
    z-index: 0;
}

.age {
    position: absolute;
    bottom: -3%;
    right: 0;
    z-index: 1;
    margin: 0;
}

.age p {
    color: #FFFFFF;
    font-family: "JetBrains Mono";
    font-size: 60px;
    font-weight: bold;
}

.about {
    width: 100%;
    height: 50vh;
    background-color: #222222;
    display: flex;
    flex-direction: row;
    color: #FFFFFF;
    font-family: 'Montserrat';
}

.about_info {
    display: flex;
    margin: 7%;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-between;
}

.profession {
    display: flex;
    flex-direction: column;
}

.status {
    position: relative;
}

.work p {
    font-family: 'Montserrat';
    font-size: 40px;
    font-weight: 500;
}
.obj_circle img {
    position: absolute;
    top: 10px;
    left: 3px;
    width: 10px;
}

.st p {
    font-family: 'Montserrat';
    font-size: 15px;
    color: #ADA8A5;
    padding-left: 20px;
    font-weight: bold;
}

.status {
    display: flex;
    flex-direction: row;
    padding-top: 5px;
}

.about_text {
    display: flex;
    flex-direction: column;
}

.about_header {
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
}

.about_header p {
    font-weight: bold;
    font-size: 32px;
}

.about_header img {
    width: 30px;
    padding-left: 15px;
}

.about_information {
    width: 90%;
}

.about_information p {
    font-size: 15px;
}

.contacts {
    display: flex;
    flex-direction: row;
}

.phone {
    display: flex;
    flex-direction: column;
}

.contact_text p {
    font-size: 30px;
    font-weight: bold;
}

.contact_media {
    display: flex;
    padding-top: 10px;
    flex-direction: column;
    justify-content: space-between;
}

.contact_media p {
    padding-top: 10px;
}

.media {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding-left: 140px;
}

.name {
    width: 35%;
    position: relative;
}

.name p {
    position: absolute;
    bottom: 0;
    right: -16px;
    writing-mode: tb-rl;
    transform:rotate(180deg);
    font-size: 70px;
    font-weight: bold;
    font-family: "JetBrains Mono";
}

.work_ {
    height: 100vh;
    width: 55%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.work_info {
    display: flex;
    width: 100%;
    flex-direction: row;
    height: 65vh;
}

.list_of_works {
    display: flex;
    flex-direction: column;
    width: 70%;
    background-color: #FFFFFF;
}

.work_head_foot {
    display: flex;
    flex-direction: column;
}

.works_header_block {
    background-color: #FFFFFF;
    height: 10%;
    width: 100%;
    position: relative;
}

.works_header_block p {
    position: absolute;
    left: 35%;
    top: 15%;
    font-family: 'Montserrat';
    font-weight: bold;
    z-index: 3;
    font-size: 32px;
    color: #222222;
}

.cont1 {
    position: absolute;
    left: 13%;
    z-index: 2;
    background-color: #FA5D0A;
    height: 100%;
    width: 20%;
}

.cont2 {
    position: absolute;
    left: 10%;
    background-color: #FFFFFF;
    height: 100%;
    width: 30%;
    z-index: 1;
}

.cont3 {
    position: absolute;
    top: 50%;
    left: 4%;
    z-index: 0;
    height: 1px;
    width: 90%;
    background-color: #222222;
}

.heres_list_of_works {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
    height: 90%;
    justify-content: center;
    align-content: center;
}

.box_work {
    width: 33%;
    height: 28%;
    display: flex;
    flex-direction: column;
    padding: 1%;
}

.yeas {
    margin-bottom: 15px;
    font-family: 'Montserrat';
    font-size: 30px;
    font-weight: bold;
}

.desc_work p {
    font-family: 'Montserrat';
    font-size: 16px;
}

.data_work {
    font-family: 'Montserrat';
    font-weight: 400;
    font-size: 15px;
}


.projects {
    display: flex;
    flex-direction: column;
    width: 40%;
    background-color: #EDEFF0;
}

.projects_header {
    display: flex;
    flex-direction: row;
    position: relative;
    justify-content: center;
    width: 100%;
    height: 10%;
}

.cont111 {
    width: 30%;
    height: 100%;
    position: absolute;
    background-color: #FA5D0A;
    z-index: 2;
    left: 7%;
}

.cont333 {
    background-color: #EDEFF0;
    height: 100%;
    width: 48%;
    position: absolute;
    left: 10%;
}

.cont222 {
    position: absolute;
    top: 50%;
    width: 90%;
    height: 1px;
    z-index: 0;
    background-color: #222222;
}

.cont111 p {
    position: absolute;
    left: 20%;
    top: 15%;
    font-family: 'Montserrat';
    font-weight: bold;
    font-size: 32px;
    color: #222222;
}

.list_of_projects {
    display: flex;
    height: 100%;
    width: 100%;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.box_project {
    margin: 1%;
    background-color: #222222;
    width: 85%;
    height: 20%;
    display: flex;
    flex-direction: row;
    box-shadow: 2px 3px 3px 0px #969696;
}

.box_project_photo {
    width: 10%;
    height: 100%;
}

.box_project_photo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.box_project_text {
    width: 90%;
    height: 100%;
    display: flex;
    flex-direction: column;
    color: #FFFFFF;
    font-family: 'Montserrat';
    justify-content: space-evenly;
    margin-left: 15px;
}

.project_title {
    font-weight: bold;
    font-size: 20px;
}

.project_desc {
    font-weight: 400;
    font-size: 14px;
}

.project_link {
    font-weight: bold;
    font-size: 12px;
}

.project_link a {
    color: #FFFFFF;
    text-decoration: underline;
}

.awards {
    background-color: #E2E2E2;
    width: 100%;
    height: 35vh;
    display: flex;
    flex-direction: column;
}

.awards_header {
    height: 20%;
    width: 100%;
    position: relative;
}

.cont11 {
    position: absolute;
    left: 13%;
    z-index: 2;
    background-color: #FA5D0A;
    height: 100%;
    width: 15%;
}

.cont11 p {
    position: absolute;
    left: 20%;
    top: 17%;
    font-family: 'Montserrat';
    font-weight: bold;
    z-index: 3;
    font-size: 32px;
    color: #222222;
}

.cont22 {
    position: absolute;
    left: 10%;
    background-color: #E2E2E2;
    height: 100%;
    width: 30%;
    z-index: 1;
}

.cont33 {
    position: absolute;
    top: 50%;
    left: 4%;
    z-index: 0;
    height: 1px;
    width: 90%;
    background-color: #222222;
}

.award_photos {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
    flex-wrap: wrap;
    margin: 33px 0 33px 0;

}

.diploma_photo {
    background-color: red;
    width: 150px;
    height: 200px;
    box-shadow: 2px 3px 3px 0px #969696;
}

.diploma_photo img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.skills_info {
    height: 100vh;
    width: 20%;
    background-color: #222222;
    display: flex;
    flex-direction: column;
}

.skills_header {
    display: flex;
    justify-content: center;
    position: relative;
    margin-top: 8px;
    height: 5%;
    width: 100%;
}

.skills_header p {
    position: absolute;
    z-index: 2;
    color: #FFFFFF;
    font-family: Montserrat;
    font-weight: bold;
    font-size: 32px;
}

.ctn2 {
    z-index: 0;
    position: absolute;
    top: 45%;
    background-color: #FFFFFF;
    height:1px;
    width: 90%;
    color: #FFFFFF;
}

.ctn1 {
    position: absolute;
    background-color: #222222;
    z-index: 1;
    width: 180px;
    height: 30px;
}

.mail_skills {
    display: flex;
    flex-direction: column;
    margin: 40px;
}

.mail_skills_header {
    position: relative;
    display: flex;
    flex-direction: row;
    margin-bottom: 15px;
}

.mail_skills_header p {
    font-family: Montserrat;
    font-size: 25px;
    font-weight: bold;
    color: #FFFFFF;
}

.mail_skills_header img {
    position: absolute;
    left: 10%;
    width: 100%;
    height: 100%;
}

.skills_content {
    display: flex;
    flex-direction: row;
    justify-content: stretch;
    width: 100%;
    flex-wrap: wrap;
}

.box_skill {
    margin: 4px;
    background-color: #EDEFF0;
    color: #686868;
    font-family: Montserrat;
    font-weight: 700;
    font-size: 13px;
    padding: 10px;
    border-radius: 4px;
}

.ctn11 {
    position: absolute;
    background-color: #222222;
    z-index: 1;
    width: 265px;
    height: 30px;
}

.box_education {
    display: flex;
    position: relative;
    flex-direction: column;
    color: #FFFFFF;
    margin: 40px;
    padding-left: 40px;
}

.edu_title {
    font-family: Montserrat;
    font-weight: bold;
    font-size: 25px;
}

.edu_desc {
    margin-top: 10px;
    font-family: Montserrat;
    font-weight: 400;
    font-size: 14px;
}

.box_education img {
    position: absolute;
    left: 3px;
}

.index_bg {
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    min-width: 100%;
    min-height: 100%;
    background-color: #222222;
}

.index_content {
    width: 40%;
    height: 100vh;
}

.content {
    padding: 25%;
    display: flex;
    width: 100%;
    height: 100vh;
    flex-direction: column;
    position: relative;
    align-content: space-around;
}

.index_content img {
    width: 25%;
}

.index_title {
    margin-top: 7%;
    color: #FFFFFF;
    font-weight: bold;
    font-family: Montserrat;
    font-size: 40px;
}

.index_desc {
    margin-top: 7%;
    color: #FFFFFF;
    font-weight: 300;
    font-family: Montserrat;
    font-size: 32px;
}

.index_enter {
    margin-top: 7%;
    width: 95%;
    height: 100%;
    background-color: #FA5D0A;
    color: #FFFFFF;
    font-size: 25px;
    font-family: Montserrat;
    font-weight: bold;
    alignment: center;
    border: none;
    border-radius: 5px;
}

.index_enter:hover {
    background-color: #FE813E;
}

.index_photo {
    width: 50%;
    height: 100vh;
    position: relative;
}

.index_photo img {
    position: absolute;
    top: -20%;
    right: -60%;
    width: 150%;
}