* {
    padding: 0;
    margin: 0;
}

body, html {
    width: 100%;
    height: 100%;
    font-family: 'Montserrat';
    position:fixed;
    overflow:hidden;
}


.main_background {
    min-width: 100%;
    min-height: 100%;
    position: relative;
    background-color: #222222;
}

.main_background .img_back {
    position: absolute;
    top: 17%;
    right: 25%;
    width: 100%;
    height: 100%;
}

.registration {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.registration input {
    font-size: 16px;
    font-family: 'Montserrat';
    font-weight: 500;
    padding: 15px 10px;
    width: 100%;
    border: 0;
    border-radius: 5px;
    background-color: #373737;
    color: #ADA8A5;
}

.registration button {
    font-size: 18px;
    font-weight: bold;
    font-family: 'Montserrat';
    margin-top: 55px;
    margin-bottom: 20px;
    padding: 10px 15px;
    width: 108%;
    border: 0;
    border-radius: 5px;
    background-color: #FA5D0A;
    color: #FFFFFF;
}

.registration button:hover {
    background-color: #FF8D50;
}


.under_button {
    padding-left: 15%;
    color: #FFFFFF;
    font-size: 14px;
    font-family: 'Montserrat';
    font-weight: 500;
}

.link_under_button {
    text-decoration: underline;
    font-weight: bold;
    color: #FA5D0A;
}

.link_under_button:hover {
    color: #FF8D50;
}

.forget_password {
    color: #FA5D0A;
    padding-left: 50%;
    padding-top: 3%;
    padding-bottom: 10%;
}

.img_logo {
    position: relative;
    bottom: 85px;
    left: 43px;
}
