<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
    <link type="text/css" href="{{ url_for('static', filename='css/style.css')}}" rel="stylesheet" />
    <link href='//fonts.googleapis.com/css?family=Montserrat:thin,extra-light,light,100,200,300,400,500,600,700,800' rel="stylesheet" />
    <style>
       @font-face {
        font-family: Floripa;
        src: url(/static/fonts/Floripa.ttf);
       }
  </style>
</head>
<body>
{% block content %}

{% endblock %}
</body>
</html>