{% extends 'base.html' %}

{% block content %}
{{ super() }}
   <div class="index_bg">
        <div class="index_content">
            <div class="content">
                <img src="/static/images/logo.svg">
                <p class="index_title">Порт - это место, которое расскажет о вас.</p>
                <p class="index_desc">Сервис для создания портфолио, который поможет вам устроиться на работу или получить стипендию.</p>
                <a href="{{ url_for('login') }}"><button class="index_enter">Войти</button></a>
            </div>
        </div>
        <div class="index_photo">
            <img src="/static/images/portfolio_logo%202.svg">
        </div>
   </div>
{% endblock %}