{% extends 'base.html' %}
{% block content %}
{{ super() }}
     <div class="main_background">
        <img class="img_back" src="/static/images/portfolio_logo.svg">
        <form class="registration" action="{{ url_for('login') }}" method="post">
            <img class="img_logo" src="/static/images/logo.svg">
            <br/>
            <input type="text" name="username" placeholder="Введите логин..."><br/>
            <br/>
            <input type="password" name="password" placeholder="Введите пароль...">
            <br>
            {% for msg in get_flashed_messages() %}
                <div class="flash">{{ msg }}</div>
            {% endfor %}
            <button type="submit">Войти</button>
            <p class="under_button">Или <a class="link_under_button">зарегистрироваться</a></p>
        </form>
     </div>
{% endblock %}