{% extends 'base.html' %}
{%  block content %}
{{ super() }}
    <div class="block">
        <div class="person_info">
            <div class="photo">
                <div class="age"><p>28</p></div> {# age #}
                <img src="/static/photos/unsplash_pDowovT7s7Q.png">{# photo #}
            </div>
            <div class="about">
                <div class="about_info">
                    <div class="profession">
                        <div class="work">
                            <p>Product design</p> {# profession #}
                        </div>
                        <div class="status">
                            <div class="obj_circle">
                                <img src="/static/images/circle.svg">
                            </div>
                            <div class="st">
                                <p>В поиске работы</p> {# status #}
                            </div>
                        </div>
                    </div>
                    <div class="about_text">
                        <div class="about_header">
                            <p>О себе</p>
                            <img src="/static/images/emoji.svg">
                        </div>
                        <div class="about_information">
                            <p> {# about_information #}
                                Привет, меня зовут Лена и здесь ты увидишь мои основные достижения.
                                Имею опыт в веб, графическом и продуктовом дизайне.
                                Ответственно подхожу к работе, гибко вношу правки и обожаю все,
                                что связано с дизайном. В свободное время рисую картины по номерам,
                                хожу в зал. Веган, эко-френдли.
                            </p>
                        </div>
                    </div>
                    <div class="contacts">
                        <div class="phone">
                            <div class="contact_text"><p>Контакты</p></div>
                            <div class="contact_media">
                                <p>lenakim@mail.ru</p> {# email #}
                                <p>+79516023542</p> {# phone #}
                            </div>
                        </div>
                        <div class="media"> {# links #}
                            <a href="#"><img src="/static/images/telegram.svg"></a>
                            <a href="#"><img src="/static/images/LinkedIn.svg"></a>
                            <a href="#"><img src="/static/images/vk.svg"></a>
                        </div>
                    </div>
                </div>
                <div class="name">
                    <p>ЛЕНА КИМ</p> {# name #}
                </div>
            </div>
        </div>
        <div class="work_">
            <div class="work_info">
                <div class="list_of_works">
                    <div class="works_header_block">
                        <div class="cont1"><p>Работа</p></div>
                        <div class="cont2"></div>
                        <div class="cont3"></div>
                    </div>
                    <div class="heres_list_of_works">
                        <div class="box_work"> {# work #}
                            <p class="yeas">2015-2017</p>
                            <div class="desc_work">
                                <p><b>Место работы:</b></p>
                                <p class="data_work">Студия Чулакова</p>
                                <p><b>Позиция:</b></p>
                                <p class="data_work">UI-дизайнер</p>
                            </div>
                        </div>
                        <div class="box_work"> {# work #}
                            <p class="yeas">2015-2017</p>
                            <div class="desc_work">
                                <p><b>Место работы:</b></p>
                                <p class="data_work">Студия Чулакова</p>
                                <p><b>Позиция:</b></p>
                                <p class="data_work">UI-дизайнер</p>
                            </div>
                        </div>
                        <div class="box_work">
                            <p class="yeas">2018-2019</p>
                            <div class="desc_work">
                                Место работы:
                                <p><b>Место работы:</b></p>
                                <p class="data_work">Nano Tech VB Technologies</p>
                                <p><b>Позиция:</b></p>
                                <p class="data_work">UI-дизайнер</p>
                            </div>
                        </div>
                        <div class="box_work">
                            <p class="yeas">2020-2021</p>
                            <div class="desc_work">
                                Место работы:
                                <p><b>Место работы:</b></p>
                                <p class="data_work">Banana digital</p>
                                <p><b>Позиция:</b></p>
                                <p class="data_work">Ux-дизайнер</p>
                            </div>
                        </div>
                        <div class="box_work">
                            <p class="yeas">2021-2022</p>
                            <div class="desc_work">
                                <p><b>Место работы:</b></p>
                                <p class="data_work">Студия дизайна Smash</p>
                                <p><b>Позиция:</b></p>
                                <p class="data_work">Ux-дизайнер</p>
                            </div>
                        </div>
                        <div class="box_work">
                            <p class="yeas">2022</p>
                            <div class="desc_work">
                                Место работы:
                                <p><b>Место работы:</b></p>
                                <p class="data_work">Фриланс, частная практика</p>
                                <p><b>Позиция:</b></p>
                                <p class="data_work">web-дизайнер</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="projects">
                    <div class="projects_header">
                        <div class="cont111"><p>Проекты</p></div>
                        <div class="cont222"></div>
                        <div class="cont333"></div>
                    </div>
                    <div class="list_of_projects"> {# box project #}
                        <div class="box_project">
                            <div class="box_project_photo">
                                <img src="/static/photos/unsplash_HCccwD_4d44.png">
                            </div>
                            <div class="box_project_text">
                                <p class="project_title">Fight Club</p>
                                <p class="project_desc">Разработка сайта для мужского спортивного клуба </p>
                                <p class="project_link"><a href="#">ccылка</a></p>
                            </div>
                        </div>
                        <div class="box_project">
                            <div class="box_project_photo">
                                <img src="/static/photos/unsplash_7hUS_IyOjFQ.png">
                            </div>
                            <div class="box_project_text">
                                <p class="project_title">Fam university</p>
                                <p class="project_desc">Разработка лендинга для онлайн-школы по фрилансу</p>
                                <p class="project_link"><a href="#">ccылка</a></p>
                            </div>
                        </div>
                        <div class="box_project">
                            <div class="box_project_photo">
                                <img src="/static/photos/unsplash_vh3IjuOIwlU.png">
                            </div>
                            <div class="box_project_text">
                                <p class="project_title">Cake me</p>
                                <p class="project_desc">Разработка фирменного стиля для сети кондитерских</p>
                                <p class="project_link"><a href="#">ccылка</a></p>
                            </div>
                        </div>
                        <div class="box_project">
                            <div class="box_project_photo">
                                <img src="/static/photos/unsplash_OjnmCKmzr3A(1).png">
                            </div>
                            <div class="box_project_text">
                                <p class="project_title">Бон Бриошь</p>
                                <p class="project_desc">Разработка логотипа</p>
                                <p class="project_link"><a href="#">ccылка</a></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="awards">
                <div class="awards_header">
                    <div class="cont11"><p>Достижения</p></div>
                    <div class="cont22"></div>
                    <div class="cont33"></div>
                </div>
                <div class="award_photos"> {# diplomas #}
                    <div class="diploma_photo"><a><img src="/static/photos/unsplash_ikad0fkYwmQ.png"></a></div>
                    <div class="diploma_photo"><a><img src="/static/photos/unsplash_UGPxnJsy_QQ.png"></a></div>
                    <div class="diploma_photo"><a><img src="/static/photos/unsplash_IyaNci0CyRk.png"></a></div>
                    <div class="diploma_photo"><a><img src="/static/photos/unsplash_SE5wx-EmRLo.png"></a></div>
                    <div class="diploma_photo"><a><img src="/static/photos/unsplash_OjnmCKmzr3A.png"></a></div>
                </div>
            </div>
        </div>
        <div class="skills_info">
            <div class="skills_header">
                <div class="ctn2"></div>
                <div class="ctn1"></div>
                <p>Навыки</p>
            </div>
            <div class="mail_skills">
                <div class="mail_skills_header">
                    <p>Ключевые</p>
                    <img src="/static/images/Emoji(1).svg">
                </div>
                <div class="skills_content">
                    <div class="box_skill">AD Photoshop</div>
                    <div class="box_skill">AD Illustrator</div>
                    <div class="box_skill">Blender</div>
                    <div class="box_skill">С++</div>
                    <div class="box_skill">Figma</div>
                    <div class="box_skill">Notion</div><div class="box_skill">AD Photoshop</div>
                    <div class="box_skill">Jiro</div>
                </div>
            </div>
            <div class="mail_skills">
                <div class="mail_skills_header">
                    <p>Дополнительные</p>
                </div>
                <div class="skills_content">
                    <div class="box_skill">MS EXCEL</div>
                    <div class="box_skill">MS WORD</div>
                    <div class="box_skill">Tilda</div>
                    <div class="box_skill">After Effects</div>
                    <div class="box_skill">SQL</div>
                </div>
            </div>
            <div class="skills_header">
                <div class="ctn2"></div>
                <div class="ctn11"></div>
                <p>Образование</p>
            </div>
            <div class="box_education">
                <img src="/static/images/Emoji(2).svg">
                <p class="edu_title">ДГТУ</p>
                <p class="edu_desc">Высшее образование “Коммуникационный дизайн”</p>
            </div>

        </div>
    </div>
{% endblock %}