{% extends 'base.html' %}
{%  block content %}
{{ super() }}
    <div class="block">
        <div class="person_info">
            <div class="photo">
                <img src="/static/images/unsplash_pDowovT7s7Q.png">{# photo #}
            </div>
            <div class="about">
                <div class="about_info">
                    <div class="profession">
                        <div class="work">
                            <p>Product design</p> {# profession #}
                        </div>
                        <div class="status">
                            <div class="obj_circle">
                                <img src="/static/images/circle.svg">
                            </div>
                            <div class="st">
                                <p>В поиске работы</p> {# status #}
                            </div>
                        </div>
                    </div>
                    <div class="about_text">
                        <div class="about_header">
                            <p>О себе</p>
                            <img src="/static/images/emoji.svg">
                        </div>
                        <div class="about_information">
                            <p> {# about_information #}
                                В тексте «о себе» вы должны
                                предоставить  ваваававваввпвпвпользователям
                                полную информацию, без вававава
                                сокращений и недосказанности.Не знаю,
                                что писать, буду просто копировать
                            </p>
                        </div>
                    </div>
                    <div class="contacts">
                        <div class="phone">
                            <div class="contact_text"><p>Контакты</p></div>
                            <div class="contact_media">
                                <p>lenakim@mail.ru</p> {# email #}
                                <p>+79516023542</p> {# phone #}
                            </div>
                        </div>
                        <div class="media"> {# links #}
                            <a href="#"><img src="/static/images/telegram.svg"></a>
                            <a href="#"><img src="/static/images/LinkedIn.svg"></a>
                            <a href="#"><img src="/static/images/vk.svg"></a>
                        </div>
                    </div>
                </div>
                <div class="name">
                    <p>Lena Kim</p> {# name #}
                </div>
            </div>
        </div>
        <div class="work_">
            <div class="work_info">
                <div class="list_of_works">
                    <div class="works_header_block">
                        <div class="cont1"><p>Работа</p></div>
                        <div class="cont2"></div>
                        <div class="cont3"></div>
                    </div>
                    <div class="heres_list_of_works">
                        <div class="box_work"> {# work #}
                            <p class="yeas">2015-2017</p>
                            <div class="desc_work">
                                <p><b>Место работы:</b></p>
                                <p class="data_work">Студия Чулакова</p>
                                <p><b>Позиция:</b></p>
                                <p class="data_work">Дизайнер мобилок</p>
                            </div>
                        </div>
                        <div class="box_work">
                            <p class="yeas">2015-2017</p>
                            <div class="desc_work">
                                <p><b>Место работы:</b></p>
                                <p class="data_work">Студия Чулакова</p>
                                <p><b>Позиция:</b></p>
                                <p class="data_work">Дизайнер мобилок</p>
                            </div>
                        </div>
                        <div class="box_work">
                            <p class="yeas">2015-2017</p>
                            <div class="desc_work">
                                <p><b>Место работы:</b></p>
                                <p class="data_work">Студия Чулакова</p>
                                <p><b>Позиция:</b></p>
                                <p class="data_work">Дизайнер мобилок</p>
                            </div>
                        </div>
                        <div class="box_work">
                            <p class="yeas">2015-2017</p>
                            <div class="desc_work">
                                <p><b>Место работы:</b></p>
                                <p class="data_work">Студия Чулакова</p>
                                <p><b>Позиция:</b></p>
                                <p class="data_work">Дизайнер мобилок</p>
                            </div>
                        </div>
                        <div class="box_work">
                            <p class="yeas">2015-2017</p>
                            <div class="desc_work">
                                <p><b>Место работы:</b></p>
                                <p class="data_work">Студия Чулакова</p>
                                <p><b>Позиция:</b></p>
                                <p class="data_work">Дизайнер мобилок</p>
                            </div>
                        </div>
                        <div class="box_work">
                            <p class="yeas">2015-2017</p>
                            <div class="desc_work">
                                <p><b>Место работы:</b></p>
                                <p class="data_work">Студия Чулакова</p>
                                <p><b>Позиция:</b></p>
                                <p class="data_work">Дизайнер мобилок</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="projects">
                    <div class="projects_header">
                        <p>Проекты</p>
                    </div>
                </div>
            </div>
            <div class="awards">
                <div class="awards_header">
                    <div class="cont11"><p>Достижения</p></div>
                    <div class="cont22"></div>
                    <div class="cont33"></div>
                </div>
                <div class="award_photos">
                    <div class="award_ph"></div>
                </div>
            </div>
        </div>
        <div class="skills_info">

        </div>
    </div>
{% endblock %}